<?xml version="1.0"?>
<robot name="simple_cube" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Definir un cubo simple con textura de madera -->
  <link name="cube_link">
    <visual>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/> <!-- Colocar el cubo 0.5m sobre el suelo -->
      <geometry>
        <box size="1.2 1.5 0.1"/> <!-- Cubo de 1.2x1.5x0.5 metros -->
      </geometry>
      <material name="wood_material">
        <texture filename="package://Teleoperacion-VisionArtificial/src/simulate/urdf/wood_texture.jpg"/> <!-- Aplicar la textura -->
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 1.5 1.5"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/> <!-- Masa del cubo (ajusta según sea necesario) -->
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
</robot>
